{% import "macros.html" as macros %}

<!DOCTYPE html>
<html lang="en"
data-theme="light">

  {{ macros::head() }}

  <body class="main-layout">
    {{ macros::nav(active_tab = "home")}}
      {% block content %}
      <section class="columns">
        <div class="column is-4"></div>
        <div class="is-offset-one-third">
          <p class="title">Something has gone wrong, Something has gone wrong</p>
        </div>
      </section>
      {% endblock content %}

      {{ macros::footer() }}
      {{ macros::google_analytics() }}

  </body>
